<div class="form-group" style="text-align:left">
	<button type="button" class="btn btn-confirmation btn-danger"  data-toggle="modal" data-target="#confirmation" onclick="sendAjaxConfirm('Confirm', 'Do you want to Run Timetable Solver?', 'findSolution', 'data_main', '')">
		<i class="fa fa-table" aria-hidden="true"></i>
		&nbsp;Run timetable solver based on following activities setups...
	</button>
</div>

<table class="table">
	<tr>
		<th style="width:20px"></th>
		<th>Code &amp; Name</th>
		<th>Venue</th>
		<th>Assigned Teacher(s)</th>
		<th>Allowed Days</th>
		<th>Allowed Periods</th>
		<th></th>
	</tr>
	#foreach ( $activity in $activities )
	<tr>
		<td>$velocityCount.</td>
		<td style="cursor:pointer" onclick="sendAjax('settings','data_main','activity_id=$!activity.id')">
			$!activity.code
			<br/>
			$!activity.name
		</td>
		<td>$!activity.venue.name</td>
		<td>
			<ul>
			#foreach ( $e in $activity.assignedTeachers )
				<li>$e.name</li>
			#end
			</ul>
		</td>
		<td>
			<ul>
			#foreach ( $e in $activity.allowedDays )
				<li>$dayNameMapper.get($e)</li>
			#end
			</ul>
		</td>
		<td>
			<ul>
			#foreach ( $e in $activity.allowedPeriods )
				<li>$periodNameMapper.get($e)</li>
			#end
			</ul>
		</td>
		<td style="text-align:right">

		</td>
	</tr>
	#end
	
</table>

