<div class="vertical-menu">

<a href="javascript:getPage('my.timetable.module.SetupVenuesModule')"><i class="fa fa-university " aria-hidden="true"></i><span>Venues</span></a>

<a href="javascript:getPage('my.timetable.module.SetupTeachersModule')"><i class="fa fa-users " aria-hidden="true"></i><span>Teachers</span></a>

<a href="javascript:getPage('my.timetable.module.SetupActivitiesModule')"><i class="fa fa-graduation-cap " aria-hidden="true"></i><span>Activities & Setup</span></a>
	
<a href="javascript:getPage('my.timetable.module.TimetableSolverModule')"><i class="fa fa-table " aria-hidden="true"></i><span>Generate Timetable</span></a>
 	
  	
</div>